.polje {

  display: flex;
  align-items: center;
  justify-content: center;
  

.button {


  height: 4rem;
  width: 155px;
  margin: 5px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items:center;
  padding-bottom: 12px;
  
 


}

}