.user-form {
    height: 90vh;
    width: 80vw;
    background-color: #fffe;
    border-radius: 30px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include media($sm) {
        height: 90vh;
        width: 90vw;
    }

    @include media($xs) {
        height: 96vh;
        width: 96vw;
    }

    .top-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .header {
            width: 100%;
            @include flex(row, space-between, center);

            button {
                border-radius: 100%;
                color: #000;
                font-size: 1.2rem;
            }
        }
    }

    .user-panel {
        width: 100%;
        @include flex(row, flex-start, center);
        gap: 2rem;

        .user-image {
            border-radius: 100%;
            width: 5rem;
            height: 5rem;
            background-position: center center;
            background-size: cover;
        }

        .panel-buttons {
            display: flex;
            gap: 2rem;

            button {
                border-radius: 1rem;
            }
        }
    }

    form {
        @include flex(column, center, center);

        .inputs {
            display: grid;
            grid-template-columns: auto auto;
            width: 100%;
        }

        .submit-btn {
            @include flex(row, center, center);
            margin-top: 5vh;
        }

        .input {
            display: flex;

            flex-direction: column;

            input {
                padding: 0.2rem 1rem;
                border: 1px solid gray;
                padding: 0.4rem;
                @include media($xxl) {
                    width: 80%;
                }
                @include media($xs) {
                    width: 100%;
                }
            }
        }
    }
}
